@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

#area {
    background-color: white;
    color: black;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
}